/*.idea
/.cache
/.fleet
/.phpunit.result.cache
/Documentation-GENERATED-temp/
/composer.build.json
/composer.lock
/nbproject
/node_modules/
/var
/Build/.cache/
/Build/coverage/
/Build/logs/
/bin/
/public/
/vendor/
